/*border color: #bdc3c7
data color: #3498db
h2 color #2c3e50*/

/*font: source sans pro*/

body {
	padding: 20px;				/*using padding in body instead of for subitem */
	margin: 20px auto;
	max-width: 700px;		/*lock the width*/
	width: 80%;
	border: 10px solid #bdc3c7;
	font-family: 'Source Sans Pro';
}

.date {
	color: #3498db;
	letter-spacing: 0.2rem;
}

h2	{
	/*margin-left: 2%;*/
	color: #2c3e50;
}

/*p {*/
	/*margin-left: 2%;*/
	/*margin-right: 2%;*/
	
/*}*/

#first_p {
	border-left: 6px solid #bdc3c7;
	padding-left: 4px;
}

hr {
    border-top: 1px dashed #8c8b8b;
    border-bottom: 1px dashed #fff;
    margin-top: 15px;
    margin-bottom: 15px;

}

hr.style10 {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
}